[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hacktools = {extras = ["cli", "graphics", "nds", "xdelta"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
